/* Стиль для каждой задачи */
.periodic-task-setting {
    margin-left: 10px; /* Отступ для визуальной вложенности */
}

/* Кнопка удаления */
.delete-task-button {
    min-width: unset !important;
    width: 24px;
    margin-left: 8px;
}
